body{
	font-family: "Josefin Sans", sans-serif;
	background-color: bisque;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
	padding-bottom: 20px;
	font-style: italic;
}

.navegacion {
	display: flex;
	box-sizing: border-box;
}

ul.navegacion__nav  {  
    display: flex;
	width: 100%;
	margin-left: 100px;
	margin-right: 100px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px 5px;
}

/*  Codigo obseleto por bootstrap
.col1{
	width: 50%;
} 

.col2{
	position: absolute;
    width: 50%;
    left: 50%;
	top: 200px;
} 
*/

img {
	border-radius: 25px;
	/* width: 400px;
	height: 400px; */
	width: 85%;
	height: 85%;
}

.col {
	vertical-align: middle;
}